* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    background-color: #1c1429;
    font-family:'Bebas Neue', sans-serif;
} 
ul {
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: #2C213F;
    align-items: center;
}

li {
    color: white;
    font-size: 25px;
    list-style-type: none; 
}
a:hover , a.active {
    color: #b3fb06
}
a { color: white;
    text-transform: uppercase;
    text-decoration: none; 
}
.logo {
    display: block;
    text-align: center;
}
.produtos{
    background-color: #2C213F;
    margin-top: 90px;
    margin-left: 100px;
    margin-right: 200px;
}
.certo {
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
}
.lixeira{
    display: flex;
    margin-bottom: 80px;
    margin-left: 40px;
    margin-right: 40px;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    align-content: flex-end;
    background-color: #2C213F;
    height: 350px;
    flex-wrap: wrap;
    position: relative;
    top: 3000px;
    right: 0PX;
    width:100%;
}
.roda-pe{
    display: flex;
    flex-direction:  row;
    justify-content: center;
    gap: 3rem;
    color: #77777773;
    font-family: 'Inter', sans-serif;
    font-size: 10px;
}
footer input{
    height: 25px;
    border-radius: 5px;
    color: #77777773;
    position: relative;
    width:300px ;
    top: 150px;
    right: 165px;
}
.envelope{
    position: relative;
    top: 183px;
    color: #fff;
    left: -100px;
}
footer li {
    list-style-type: none;
   
}
footer a{
    text-transform: uppercase;
    text-decoration: none; 
    color: #ffffffd8;
    font-size: 15px;
    display: inline;
}
.apps{
    position: relative;
    top: 170px;
    display: flex;
    gap: 1rem; 
    height: 30px;
    right: 340px;
    margin-inline-start: -200px;
}

#envio{
    position: relative;
    margin-top: 100px;
    font-size: 10px;
    display: inline;
    white-space: nowrap;
    left: 270px;
}
.marca{
    position: relative;
    bottom: 135px;
    left: 600px;
}
.fale{
    position: relative;
    display: inline;
    right: 300px;
    bottom: 50px;
}
.paginas{
    position: relative;
    display: inline;
    right: 250px;
    bottom: 50px;
}   